{% extends "layout.html" %}

{% block title %}応用{% endblock %}
{% block lead %}{% endblock %}

{% block page_content %}

<h2>下書き</h2>
<h3>何を目的にやったか</h3>
<p>*<em>任意のトポロジー（直線状）<strong><strong>を形成する多細胞システムが</strong></strong>バクテリアセルロース</em><em><strong>の品質向上</strong></em><em>につながる可能性を検討</em>*</p>
<h3>何をやったか</h3>
<p>バクテリアセルロースは、高い結晶性、高い純度、高い保水性、高い機械的強度、そして向上した生体適合性など、優れた独自の性質を持つ。これらの卓越した特性により、バクテリアセルロースは様々な産業製品の開発に理想的なバイオマスとして機能する可能性がある。一方で、バクテリアセルロースの優れた力学特性を引き出すには繊維配向の制御が重要であるが、マクロスケールでの配向制御には課題が残されている。そこで、バクテリアセルロースを産生する細菌自体を空間的に配置することで、BCの配向を制御できないかと考えた。専門家の方々との意見交換を通して、本応用案について議論を進めた。</p>
<ol>
<li>大腸菌を直鎖状に連結させる技術の応用例として配向制御による構造制御型バクテリアセルロースの創製について<strong>北海道大学の田島健次先生お話を伺った。</strong></li>
<li>植物性のセルロースとバクテリアセルロースとの違いについて検討し、バクテリアセルロース固有の性質に着目するために、東京大学の磯貝明先生にお話を伺った。</li>
<li>また大腸菌によるバクテリアセルロース産出の可能性、直鎖状の形成が菌体運動に与える影響について検討するため、東京大学の高山剛先生にお話を伺った。</li>
</ol>
<p>これらを通して本応用案の実現可能性について検討した。</p>
<h3>何が分かったか</h3>
<p><strong>1.田島先生（北海道</strong>大学）</p>
<p>大腸菌を直鎖状に連結させる技術の応用例として配向制御による構造制御型バクテリアセルロースの創製についてお話を伺った。酢酸菌と大腸菌におけるセルロース産生機構の違い、配向制御の可能性、代謝改変、社会実装を議論した。</p>
<ul>
<li>酢酸菌と大腸菌におけるセルロース産生機構の違い</li>
</ul>
<p>酢酸菌細胞膜上の合成酵素複合体が直線的に並び、ほぼ一箇所からセルロースを排出する。この局在化により、分子鎖が秩序立って集合し、高結晶性かつ高強度のファイバーが形成される。一方、大腸菌では酵素複合体が極に局在的に集まるものの、排出はランダムであり、酢酸菌のような直線的配列構造は形成されない。この違いは、単なる遺伝子導入だけでは再現できない高次構造制御の存在を示唆された。 </p>
<ul>
<li>代謝強化と変換効率</li>
</ul>
<p>UDP-グルコースはセルロース前駆体であり、酢酸菌では供給経路が発達しているのに対し、大腸菌では代謝強化が必要と指摘された。また酢酸菌のセルロース変換効率は約15％だが、代謝改変により30％程度まで向上可能との知見も共有された。</p>
<ul>
<li>配向制御における力学特性の向上</li>
</ul>
<p>配向制御については、材料強度との相関について議論した。静置培養では三次元ネットワークが形成されるが、引張処理や流動場を与えることで繊維が一方向に配向し、強度が大幅に向上する。高結晶性セルロースでは約3 GPaの引張強度が報告され、これは炭素繊維と同等レベルである。配向制御によってさらに強度を高めることができる可能性が示された。</p>
<ul>
<li>菌体運動</li>
</ul>
<p>菌体運動についてはセルロース排出と同時に菌が移動するため、単純固定では配向形成が阻害される可能性がある。九州大学の近藤哲男教授らの研究の基盤上に配向シートを作り、排出セルロースをレール状に誘導する手法が紹介された。このアプローチは、菌を完全固定せず構造を制御する方法として紹介された。</p>
<ul>
<li>バクテリアセルロースの社会実装案</li>
</ul>
<p>応用面では、創傷被覆材、BCストロー、バイオフィルターについて実現可能性があるという知見が得られた。その他にも歯周治療用シート、分離膜、触媒担体、エレクトロクロミックデバイス、補強繊維など多様な可能性が示された。医療応用は既に欧州で実装例がある。</p>
<h3>2　磯貝明 先生（東京大学）</h3>
<p>配向制御型バクテリアセルロースの応用案について植物性のセルロースとバクテリアセルロースの違いや大腸菌を用いたセルロース合成系の構築、セルロース生成に関する社会的な歴史、社会実装案について中心的にご意見をいただいた。</p>
<ul>
<li>バクテリアセルロースの生合成の制御</li>
</ul>
<p>バクテリアセルロースは菌体が移動しながら繊維を放出することで、その高次構造が形成される。このプロセスには「ロゼッタ」と呼ばれるタンパク質複合体や、繊維が排出されるための微細な孔が必要不可欠である。 もし大腸菌等で合成を試みた場合、菌体内にセルロースが蓄積する可能性を挙げられていた。または構造が乱れた「セルロースII型」に近い状態になる可能性もある。</p>
<ul>
<li>変換効率の低さによるバクテリアセルロースの工業生産の衰退化</li>
</ul>
<p>　またセルロースは水に溶かしにくい性質ゆえに、そのままの形で利用されることが多い。セルロースにおける社会的な歴史として、かつては植物性のセルロースからレーヨン等の人工絹糸が日本の産業を支えたが、製造過程での環境問題等により国内生産は衰退した。また、過去には「木を切らないセルロース」や「スーパーセルラーゼによる燃料化」がブームとなったが、変換効率の低さ（エネルギーの20%しかセルロースにならない）というの壁に突き当たり、頓挫してきた経緯がある。そのため現在においても工業的な材料としてはバクテリアセルロースよりも植物性のセルロース、石油由来の原料が使用されている。 バクテリアセルロースを社会実装するためには、こうした歴史を踏まえ、石油由来の合成高分子にはない「柔軟性」や「生体適合性」、「高純度」を最大限に活かす必要がある。</p>
<ul>
<li>バクテリアセルロースの社会実装案</li>
</ul>
<p>BCの社会実装として期待されるのは「エネルギー」「エレクトロニクス」、「メディカル」である。セルロースは生体安全性が高く、また純度が高いことから安全性が保障される。したがって信頼性の高い医療デバイスの開発が期待される。 例えば、旭化成の人工透析膜がカシミヤの中空構造から着想を得たように、BCで「人工血管」などの中空構造を構築する技術は、極めて難易度が高いが付加価値も大きい。北大の田島先生が取り組む廃油由来原料によるコスト削減なども含め、実用化へ進みつつある。</p>
<p>3 . 高山剛 先生（東京大学）</p>
<p>今回の議論では、細胞の配向・連結を制御することで、より高機能なバクテリアセルロース材料を創製するプロジェクトについて意見を伺った。</p>
<ul>
<li>接着分子の強さ</li>
</ul>
<p>に細胞を一次元的に連結すると束（バンドル）を形成しやすくなり、横方向にも接着分子を配置できれば、構造全体の曲がりにくさや剛性の向上が期待される。一方で、接着分子の強さなどは今後検討すべき課題である。</p>
<ul>
<li>大腸菌での連結技術を酢酸菌に適用する実現可能性</li>
</ul>
<p>酢酸菌では遺伝子操作や発現制御のための合成生物学ツールが十分に整備されていないのに対し、大腸菌では既存の豊富なツールキットを活用できるため、新たな細胞配向技術を迅速に検証できる。一方で大腸菌にBC合成系を導入する試みは進められているものの、天然の酢酸菌とは異なる結晶構造やアモルファスなセルロースとなることが多く、輸送複合体の複雑さも再構築を難しくしている。そのため大腸菌での連結技術を酢酸菌で実現する方が、大腸菌にセルロース合成タンパク質を発現させるよりも実現可能性は高いとのご意見をもらった。したがって本プロジェクトは大腸菌で利用可能な配向制御技術を将来的に酢酸菌へ展開するためのシード技術として位置付けられる。</p>
<ul>
<li></li>
</ul>
<p>また、細胞の長さや極性の制御も重要な要素である。細胞分裂を抑制することで繊維状に伸長した大腸菌を作製できることが知られており、長い細胞ほどより太いセルロース繊維を形成できる可能性が示されている。さらに、接着分子やセルロース合成装置を片極へ局在化できれば、セルロース排出方向の統一や細胞配向の制御につながる可能性がある。一方で、セルロース排出方向や対称性の破れがどのように決定されるかは未解明であり、走化性やセカンドメッセンジャーによる制御機構を含め、今後解明すべき興味深い研究課題である。</p>
<ul>
<li>社会実装案の実現可能性</li>
</ul>
<p>細胞を配向・連結させることでセルロース繊維を太く束ね、ねじれを抑えた構造を形成できれば、より効率的な応力・エネルギー伝達が可能となり、高強度・高弾性率の材料開発につながる可能性がある。また全体の表面積が減ることで水と触れ合う部分が減り、水に対する強度が強くなる可能性も考えられる。したがって生分解性や軽量性を兼ね備えた新規バイオマテリアルとしての応用も期待され、創傷被覆材やストローなどへ使うことができる可能性がある。一方で、細い繊維の方が比表面積が大きくフィルター用途に適しているため、バイオフィルタはこのプロジェクトの応用として向かない。</p>
<h3>その結果、次に何を変えたか</h3>
<ul>
<li>大腸菌にセルロース合成酵素の遺伝子組み換えを行うのではなく、セルロース産出菌である酢酸菌においても大腸菌と同様に任意のトポロジー（直線状）を形成する多細胞システムの構築を目指す</li>
<li>構造制御型多細胞システムによる均一性・強度の向上によるメリットが変換効率を上回る利益につながる必要がある。</li>
<li>細い繊維の方が比表面積が大きくフィルター用途に適しているため構造制御型多細胞システムによるメリットは少なく、バイオフィルタは社会実装案として除く</li>
<li>セルロースは生体安全性が高く、また純度が高いことから安全性が保障される。したがって信頼性の高い医療デバイスの開発が期待される。したがって、バクテリアセルロースの実装案として人工血管など医療面に対する応用にも注目する。</li>
</ul>
<h3>図・写真・データ</h3>
<h3>参考文献</h3>
<p>Blanco Parte FG, Santoso SP, Chou CC, Verma V, Wang HT, Ismadji S, Cheng KC. Current progress on the production, modification, and applications of bacterial cellulose. Crit Rev Biotechnol. 2020 May;40(3):397-414. doi: 10.1080/07388551.2020.1713721. Epub 2020 Jan 14. PMID: 31937141.　<a href="https://pubmed.ncbi.nlm.nih.gov/31937141/">https://pubmed.ncbi.nlm.nih.gov/31937141/</a></p>
<hr>
<h2>下書き（みれな好みの書き方…すみません！）</h2>
<p>ピンクの部分はるあちゃんの文章！</p>
<p>イントロ</p>
<p>本文１</p>
<p>ここでは主にアカデミアの先生と話した内容をまとめている。</p>
<h3>サブパート１　配向制御技術による力学的特性の向上可能性　（田島XXX先生・北海道大学）</h3>
<p>　現在存在するバクテリアセルロースの応用技術について、医療・バイオマテリアル分野をはじめ、その他の分野においてどのような技術や用途が開発されているのかを調査することを目的として、インタビューを実施した。特に、北海道大学の田島先生はXXXの研究で知られており、XXXXという観点から、バクテリアセルロースの応用可能性についてどのように考えているのかを伺った。</p>
<p>　田島先生とのディスカッションを通して、一般的に知られている創傷被覆材、BCストロー、バイオフィルターといった応用例が、現時点では最も実現可能性が高いことがわかった。一方で、これらに加えて、歯周治療用シート、分離膜、触媒担体、エレクトロクロミックデバイス、補強繊維など、バクテリアセルロースには多様な応用可能性が存在することも明らかになった。（医療応用は既に欧州で実装例がある。）これらの応用例に用いられているセルロースは、ランダムな配置・方向性を持つ大腸菌によって生成されたものである。一方、我々のプロジェクトでは、バクテリアセルロースの応用において、材料の方向性が重要、あるいは不可欠となる分野が存在するのではないかという仮説を立てている。そこで、大腸菌の配向を制御することで、バクテリアセルロースの構造に方向性を持たせ、強度をはじめとする力学的特性の向上や、新たな応用分野の開拓につなげられるのではないかと考え、この可能性を提案した。その結果、配向制御によってさらに強度を高めることができる可能性についてご意見をいただくとともに、単純固定では菌体運動が阻害される可能性があるという新たな知見を得ることができた。田島先生によると、引張処理や流動場を与えることでセルロース繊維を一方向に配向させると、高結晶性セルロースが形成され、約3 GPaの引張強度が報告されている。このことから、配向制御と材料強度の相関が示唆される。一方、セルロース排出時の菌体運動が配向形成を阻害する可能性があり、菌体を完全に固定するのではなく、排出されたセルロースをレール状に誘導することで配向を制御する手法が検討されている。</p>
<p>　田島先生へのインタビューを通して、**配向制御技術によって、バクテリアセルロースが生成するセルロース繊維をはじめとするバイオマテリアルの力学的特性を向上させられるという我々の仮説は、一定の妥当性を持つことが確認された。**なお、配向制御による構造制御型バクテリアセルロースの創製には、酢酸菌と大腸菌のセルロース産生機構の違いに起因する課題が存在する。特に、単純な遺伝子導入だけでは高次構造の再現が困難であり、さらに大腸菌におけるセルロース産生のための代謝強化が必要となる点が、実現に向けた課題として挙げられた。</p>
<details>
<summary>HPを通して得た知見</summary>
- 酢酸菌と大腸菌におけるセルロース産生機構の違い<p>酢酸菌細胞膜上の合成酵素複合体が直線的に並び、ほぼ一箇所からセルロースを排出する。この局在化により、分子鎖が秩序立って集合し、高結晶性かつ高強度のファイバーが形成される。一方、大腸菌では酵素複合体が極に局在的に集まるものの、排出はランダムであり、酢酸菌のような直線的配列構造は形成されない。この違いは、単なる遺伝子導入だけでは再現できない高次構造制御の存在を示唆された。 </p>
<ul>
<li>代謝強化と変換効率</li>
</ul>
<p>UDP-グルコースはセルロース前駆体であり、酢酸菌では供給経路が発達しているのに対し、大腸菌では代謝強化が必要と指摘された。また酢酸菌のセルロース変換効率は約15％だが、代謝改変により30％程度まで向上可能との知見も共有された。</p>
</details><h3>サブパート２　タイトルXXX　（高山剛先生・東京大学）</h3>
<p>　配向制御による構造制御型バクテリアセルロースについて検討した上で、次に我々は、どのような点に着目することで、より有用な配向制御と力学的特性の向上を実現できるかを検討した。そこで、**配向制御技術による力学的特性の向上可能性について田島先生と議論した際、東京大学の高山先生が類似した取り組みを行っているとの助言をいただいた。**これを踏まえ、高機能なバクテリアセルロース材料の創製に向けた細胞の配向・連結制御について、高山先生にインタビューを実施した。
　高山先生とのディスカッションを通して、細胞分裂を抑制することで繊維状に伸長した大腸菌を作製することで、長い細胞でより太いセルロース繊維を形成できる試みが存在することを知った。さらに、接着分子やセルロース合成装置を片極へ局在化できれば、セルロース排出方向の統一や細胞配向の制御につながる可能性がある。一方で、セルロース排出方向や対称性の破れがどのように決定されるかは未解明であり、走化性やセカンドメッセンジャーによる制御機構を含め、今後解明すべき興味深い研究課題である。ここでは我々が意義を感じている配向制御技術で言うと、細胞の長さや極性の制御も重要な要素であることが確信できた。</p>
<p>また、我々の配向制御技術をより確実なものにするうえで検討すべき観点をXXつ見つけることができいた。１つ目は、接着分子の強さ。例えば細胞を直線上に一次元的に連結するとXXXは束（バンドル）を形成しやすくなり、横方向にも接着分子を配置できれば、構造全体の曲がりにくさや剛性の向上が期待されるため、接着分子の強さなどは今後検討すべき課題である。２つ目は、遺伝子操作のXXX。我々は方向性・配向制御の第一歩として、本プロジェクトでは大腸菌を用いてる。確かに、酢酸菌では遺伝子操作や発現制御のための合成生物学ツールが十分に整備されていないのに対し、大腸菌では既存の豊富なツールキットを活用できるため、新たな細胞配向技術を迅速に検証できる。大腸菌にBC合成系を導入する試みは進められているものの、天然の酢酸菌とは異なる結晶構造やアモルファスなセルロースとなることが多く、輸送複合体の複雑さも再構築を難しくしている現状があるという意見に関しては、田島先生と一貫したものであった。そのため本プロジェクトが大腸菌で実現する連結技術を酢酸菌に拡張する事ができる多としたら、酢酸菌を用いることでより興味深いセルロース繊維を得られるのではないかは高いというところ着地した。</p>
<p>したがって本プロジェクトは大腸菌で利用可能な配向制御技術を将来的に酢酸菌へ展開するためのシード技術として位置付けられる。</p>
<ul>
<li></li>
</ul>
<p>また、細胞の長さや極性の制御も重要な要素である。細胞分裂を抑制することで繊維状に伸長した大腸菌を作製できることが知られており、長い細胞ほどより太いセルロース繊維を形成できる可能性が示されている。さらに、接着分子やセルロース合成装置を片極へ局在化できれば、セルロース排出方向の統一や細胞配向の制御につながる可能性がある。一方で、セルロース排出方向や対称性の破れがどのように決定されるかは未解明であり、走化性やセカンドメッセンジャーによる制御機構を含め、今後解明すべき興味深い研究課題である。</p>
<ul>
<li>社会実装案の実現可能性</li>
</ul>
<p>細胞を配向・連結させることでセルロース繊維を太く束ね、ねじれを抑えた構造を形成できれば、より効率的な応力・エネルギー伝達が可能となり、高強度・高弾性率の材料開発につながる可能性がある。また全体の表面積が減ることで水と触れ合う部分が減り、水に対する強度が強くなる可能性も考えられる。したがって生分解性や軽量性を兼ね備えた新規バイオマテリアルとしての応用も期待され、創傷被覆材やストローなどへ使うことができる可能性がある。一方で、細い繊維の方が比表面積が大きくフィルター用途に適しているため、バイオフィルタはこのプロジェクトの応用として向かない。</p>
<p>サブパート３</p>
<p>本文２</p>
<p>本文３</p>
<p>結論</p>

{% endblock %}
