{% extends "layout.html" %}

{% block title %}貢献者{% endblock %}
{% block lead %}正確な貢献者の記載は、iGEMコンペティションにおいて不可欠です。これにより、審査員はあなたのチームの貢献を適切に評価し、外部協力者から提供されたサポートを認識できます。このページは、審査のための貢献者要件を満たすことに専念しています。{% endblock %}

{% block page_content %}

<h3>銅メダル基準 #2</h3>
<p>標準化されたプロジェクト貢献者フォームを使用して、チームメンバーが行った作業と他の人々がプロジェクトのために行った作業を説明してください。</p>
<p>詳細については<a href="https://competition.igem.org/judging/medals">メダルページ</a>をご覧ください。</p>
<h2>このページに含むべき内容は？</h2>
<ul>
<li>あなたのwikiの標準ナビゲーションメニュー</li>
<li>あなたのwikiの標準フッター</li>
<li>標準化されたチームのプロジェクト貢献者フォームを含む埋め込みiframe。</li>
<li>それ以外は何もなし</li>
</ul>
<h2>成功のためのヒント</h2>
<p>チームは公式の貢献者フォームを使用しなければなりません。このフォームは、チームメンバーが行った作業と他者から受けたサポートを明確に区別します。<a href="https://competition.igem.org/deliverables/project-attribution">プロジェクト貢献者ページ</a>でこの成果物の指示と要件を注意深く確認してください。注意点：</p>
<ul>
<li>チームは標準フォームを使用しなければなりません。独自のフォームを作成しないでください。</li>
<li>標準貢献者フォームは完全に、正確に、正直に記入されなければなりません。</li>
<li>最良の結果を得るために、チームはシーズン早期に貢献者フォームの記入を開始し、頻繁に更新することをお勧めします。</li>
</ul>

<div class="row mt-4">
	<script type="text/javascript">
		// フォームの高さ変更を受け取って iframe をリサイズする。
		window.addEventListener("message", function (e) {
			if (e.origin === "https://teams.igem.org") {
				const { type, data } = JSON.parse(e.data);
				if (type === "igem-attribution-form") {
					const element = document.getElementById("igem-attribution-form");
					element.style.height = `${data + 100}px`;
				}
			}
		});
	</script>
	<iframe style='width: 100%' id="igem-attribution-form" src="https://teams.igem.org/wiki/5539/attributions">
		>
	</iframe>
</div>

{% endblock %}
