{% extends "layout.html" %}

{% block title %}貢献{% endblock %}
{% block lead %}将来のiGEMチームに有用な貢献を行い、このページに文書化してください。{% endblock %}

{% block page_content %}

<div class="row mt-4">
	<div class="col">
		<div class="bd-callout bd-callout-info">
			<h4>銅メダル基準 #3</h4>
			<p>将来のiGEMチームに有用な貢献を行い、このページに文書化してください。</p>
			<hr />
			<p>詳細については<a href="https://competition.igem.org/judging/medals">メダルページ</a>をご覧ください。</p>
		</div>
	</div>
</div>

<div class="row mt-4">
	<div class="col">
		<h2>このページに含むべき内容は？</h2>
		<hr />
		<p>チームは自分たちの貢献を文書化し、なぜその取り組みが仲間のiGEMerへの貢献なのかを説明しなければなりません。貢献が何であるべきかの単一の定義はありません。私たちは、チームがコミュニティに提供できる知識、データ、ツールにおいて創造的で寛大であることを勧めます。
		</p>
		<p>貢献のいくつかの例は：</p>
		<ul>
			<li>iGEMレジストリで新しいBioBrickパーツを作成するか、既存のパーツを大幅に改善する。</li>
			<li>将来のiGEMチームを大幅に支援できるソフトウェア、ツール、またはリソースを開発する。</li>
			<li>最適化されたプロトコル、実験技術、または方法論を共有する。</li>
			<li>将来のiGEMチームに明確な利益を提供するその他の貢献。</li>
		</ul>
	</div>
</div>

{% endblock %}
