{% extends "layout.html" %}

{% block title %}貢献{% endblock %}
{% block lead %}将来のiGEMチームに有用な貢献を行い、このページに文書化してください。{% endblock %}

{% block page_content %}

<h3>銅メダル基準 #3</h3>
<p>将来のiGEMチームに有用な貢献を行い、このページに文書化してください。</p>
<p>詳細については<a href="https://competition.igem.org/judging/medals">メダルページ</a>をご覧ください。</p>
<h2>このページに含むべき内容は？</h2>
<p>チームは自分たちの貢献を文書化し、なぜその取り組みが仲間のiGEMerへの貢献なのかを説明しなければなりません。貢献が何であるべきかの単一の定義はありません。私たちは、チームがコミュニティに提供できる知識、データ、ツールにおいて創造的で寛大であることを勧めます。</p>
<p>貢献のいくつかの例は：</p>
<ul>
<li>iGEMレジストリで新しいBioBrickパーツを作成するか、既存のパーツを大幅に改善する。</li>
<li>将来のiGEMチームを大幅に支援できるソフトウェア、ツール、またはリソースを開発する。</li>
<li>最適化されたプロトコル、実験技術、または方法論を共有する。</li>
<li>将来のiGEMチームに明確な利益を提供するその他の貢献。</li>
</ul>
<h2>下書き</h2>
<h3>何を目的にやったか</h3>
<h3>何をやったか</h3>
<h3>何が分かったか</h3>
<h3>その結果、次に何を変えたか</h3>
<h3>図・写真・データ</h3>
<h3>参考文献</h3>

{% endblock %}
