{% extends "layout.html" %}

{% block title %}プロジェクト説明{% endblock %}
{% block lead %}どのようにして、なぜあなたのiGEMプロジェクトを選んだのかを説明してください。{% endblock %}

{% block page_content %}

<div class="row mt-4">
	<div class="col">
		<div class="bd-callout bd-callout-info">
			<h4>銅メダル基準 #1: Wiki</h4>
			<p>どのようにして、なぜあなたのiGEMプロジェクトを選んだのかを説明してください。</p>
			<hr />
			<p>詳細については<a href="https://competition.igem.org/judging/medals">メダルページ</a>をご覧ください。</p>
		</div>
	</div>
</div>

<div class="row mt-4">
	<div class="col-lg-8">
		<h2>このページに含むべき内容は？</h2>
		<hr />
		<ul>
			<li>プロジェクトが取り組む問題とその潜在的な影響を説明する。</li>
			<li>プロジェクトの目標と目的を明確で簡潔に要約する。</li>
			<li>チームがこのプロジェクトを選んだ具体的な理由を詳述する。</li>
			<li>チームを動機づけた先行研究や実世界の問題を含む、プロジェクトの背景にあるインスピレーションを説明する。</li>
			<li>理解を深めるために図解、ダイアグラム、その他の視覚的補助を使用する。</li>
			<li>関連する科学的背景、技術的詳細、実験的アプローチを含める。</li>
		</ul>
	</div>
	<div class="col-lg-4">
		<h2>インスピレーション</h2>
		<hr />
		<ul>
			<li><a href="https://2024.igem.wiki/heidelberg/description">2024 Heidelberg</a></li>
			<li><a href="https://2024.igem.wiki/marburg/description">2024 Marburg</a></li>
			<li><a href="https://2024.igem.wiki/epfl/description">2024 EPFL</a></li>
			<li><a href="https://2024.igem.wiki/ju-krakow/description">2024 JU-Krakow</a></li>
			<li><a href="https://2024.igem.wiki/utoronto/description">2024 UToronto</a></li>
			<li><a href="https://2023.igem.wiki/estonia-tuit/description">2023 Estonia-TUIT</a></li>
		</ul>
	</div>
</div>

<div class="row mt-4">
	<div class="col-lg-8">
		<h2>成功のためのヒント</h2>
		<hr />
		<ul>
			<li>詳細な情報を提供しながらも、明瞭性と簡潔性を心がける。</li>
			<li>要約と小見出しを使用してコンテンツを整理する。</li>
			<li>理解と関心を高めるために視覚的要素を活用する。</li>
			<li>研究プロセスと出典を徹底的に記録する。</li>
		</ul>
	</div>
	<div class="col-lg-4">
		<h2>参考文献</h2>
		<hr />
		<p>プロジェクトの参考となったすべての関連研究論文、科学記事、その他の出典を引用してください。</p>
		<p>ページの最後に専用の「参考文献」セクションを作成し、一貫した引用スタイルを使用してください。</p>
	</div>
</div>

{% endblock %}
