{% extends "layout.html" %}

{% block title %}教育{% endblock %}
{% block lead %}革新的な教育ツールとアウトリーチ活動は、公共の価値観と合成生物学の背後にある科学について議論することで、新しいコミュニティとの双方向の対話を確立する能力を持っています。{% endblock %}

{% block page_content %}

<div class="row mt-4">
	<div class="col">
		<div class="bd-callout bd-callout-info">
			<h4>最優秀教育賞</h4>
			<p>革新的な教育ツールとアウトリーチ活動は、公共の価値観と合成生物学の背後にある科学について議論することで、新しいコミュニティとの双方向の対話を確立する能力を持っています。より多くの人々を合成生物学の形成に含めるための新しい機会をどのように開発しましたか？教育活動は必ずしもプロジェクトに直接関連している必要はありませんが、iGEMや合成生物学のより広い問題を検討するかもしれません。教育活動は科学的学習を促進し、合成生物学やiGEMを単に布教したりマーケティングしたりすることを避けなければなりません。あなたのアプローチと、関与した全員が学んだことを文書化して、この賞を競ってください。
			</p>
			<hr />
			<p>詳細については<a href="https://competition.igem.org/judging/special-prizes">特別賞ページ</a>をご覧ください。</p>
		</div>
	</div>
</div>

<div class="row mt-4">
	<div class="col">
		<h2>インスピレーション</h2>
		<hr />
		<ul>
			<li><a href="https://2024.igem.wiki/cityu-hongkong/education">2024 CityU-HongKong</a></li>
			<li><a href="https://2024.igem.wiki/cjuh-jlu-china/education">2024 CJUH-JLU-China</a></li>
			<li><a href="https://2024.igem.wiki/keystone/education">2024 Keystone</a></li>
			<li><a href="https://2024.igem.wiki/stanford/education">2024 Stanford</a></li>
			<li><a href="https://2024.igem.wiki/gems-taiwan/education">2024 GEMS-Taiwan</a></li>
			<li><a href="https://2024.igem.wiki/heidelberg/education">2024 Heidelberg</a></li>
		</ul>
	</div>
</div>

{% endblock %}
