{% extends "layout.html" %}

{% block title %}エンジニアリング成功{% endblock %}
{% block lead %}エンジニアリングデザインサイクルの少なくとも1つのイテレーションを通じて、プロジェクトの技術的側面におけるエンジニアリング成功を実証してください。{% endblock %}

{% block page_content %}

<div class="row mt-4">
	<div class="col">
		<div class="bd-callout bd-callout-info">
			<h4>銀メダル基準 #1</h4>
			<p>エンジニアリングデザインサイクルの少なくとも1つのイテレーションを通じて、プロジェクトの技術的側面におけるエンジニアリング成功を実証してください。</p>
			<hr />
			<p>詳細については<a href="https://competition.igem.org/judging/medals">メダルページ</a>をご覧ください。</p>
		</div>
	</div>
</div>

<div class="row mt-4">
	<div class="col">
		<h2>成功のためのヒント</h2>
		<hr />
		<p>エンジニアリング成功は、エンジニアリングデザインサイクル：デザイン → 構築 → テスト → 学習に従う努力を文書化することで達成できます。</p>
		<p>プロジェクトの問題の1つ以上に取り組み、解決する方法を考え、合成生物学ツールや実験技術を使用して期待される結果を生み出すことをお勧めします。</p>
		<p>一度サイクルを完了したら、サイクルの次のイテレーションでどのようなデザインの変更を行うかを考え、文書化してください。</p>
		<p>例えば、新しいパーツをデザインして構築し、そのパフォーマンスを測定し、それが機能したかどうかを文書化し、結果が次のデザインやステップにどのように情報を提供するかを提案することができます（文書化はレジストリのパーツのページで行わなければなりません）。
		</p>
		<p>エンジニアリング成功に関する追加のガイダンスについては、<a href="https://technology.igem.org/engineering"
				target="_blank">エンジニアリングページ</a>をご覧ください。</p>
	</div>
</div>

{% endblock %}
