{% extends "layout.html" %}

{% block title %}アントレプレナーシップ{% endblock %}
{% block lead %}アントレプレナーシップ賞は、ビジネスケースを構築し、iGEMプロジェクトを商業化する優れた努力を認識します。{% endblock %}

{% block page_content %}

<h3>最優秀アントレプレナーシップ賞</h3>
<p>最優秀アントレプレナーシップ賞は、ビジネスケースを構築し、iGEMプロジェクトを商業化する優れた努力を認識します。この賞は新しいプロジェクト、またはチームが商業化を目指した以前のプロジェクトに授与されることがあります。成功するチームは、(1)顧客のニーズと実現可能性に関する専門知識に基づいてビジネスプランを構築し、(2)最小限の実行可能な製品を作成します。</p>
<p>詳細については<a href="https://competition.igem.org/judging/special-prizes">特別賞ページ</a>をご覧ください。</p>
<h2>インスピレーション</h2>
<ul>
<li><a href="https://2024.igem.wiki/utoronto/entrepreneurship">2024 UToronto</a></li>
<li><a href="https://2024.igem.wiki/ionis-paris/entrepreneurship">2024 Ionis-Paris</a></li>
<li><a href="https://2023.igem.wiki/leiden/entrepreneurship">2023 Leiden</a></li>
</ul>

{% endblock %}
