{% extends "layout.html" %}

{% block title %}ハードウェア{% endblock %}
{% block lead %}iGEMにおけるハードウェアは、標準パーツに基づく合成生物学を、私たちのコミュニティにとってより簡単、迅速、優秀、またはアクセスしやすくするものであるべきです。{% endblock %}

{% block page_content %}

<h3>最優秀ハードウェア賞</h3>
<p>これは、合成生物学のためのハードウェアを開発したチームのための賞です。iGEMにおけるハードウェアは、標準パーツに基づく合成生物学を、私たちのコミュニティにとってより簡単、迅速、優秀、またはアクセスしやすくするものであるべきです。あなたのチームは、チームがパーツを特性化するのに役立つセンサーを作りましたか？チームが実験を行ったり、クローニングをより簡単に行ったりするのに役立つロボットを作りましたか？この賞の強力な競争相手は、実用性、ユーザーテスト、容易な再現性を実証するでしょう。</p>
<p>詳細については<a href="https://competition.igem.org/judging/special-prizes">特別賞ページ</a>をご覧ください。</p>
<h2>概要</h2>
<p>チームがDNAパーツを扱い、ラボで生物学的デバイスを構築することを奨励することに加えて、iGEMは合成生物学のための他のタイプの技術的ソリューションも奨励しています。これには、ロボットアセンブリ、マイクロ流体学、低コスト測定デバイスなどに関連する物理的デバイス（ハードウェア）が含まれる場合があります。合成生物学におけるハードウェア革新の多くのエキサイティングな機会があります。</p>
<h2>インスピレーション</h2>
<ul>
<li><a href="https://2024.igem.wiki/aachen/hardware">2024 Aachen</a></li>
<li><a href="https://2023.igem.wiki/rochester">2023 Rochester</a></li>
<li><a href="https://2023.igem.wiki/hust-china/hardware">2023 HUST-China</a></li>
<li><a href="https://2023.igem.wiki/kyoto/hardware">2023 Kyoto</a></li>
</ul>

{% endblock %}
