{% extends "layout.html" %}

{% block title %}インクルーシビティ{% endblock %}
{% block lead %}背景や経験に関係なく、すべての個人が科学的知識と技術開発に関与する平等な機会を持つべきです。{% endblock %}

{% block page_content %}

<h3>インクルーシビティ賞</h3>
<p>インクルーシビティ賞は、多様なアイデンティティを持つ人々を科学研究に含める優れた努力を認識します。iGEM、合成生物学、より広範な科学において、誰が発言権を持つことが許されるのでしょうか？障壁を排除し、より多くの人々がこれらのコミュニティに貢献し、参加し、代表されることを可能にする新しい機会をどのように開発しましたか？この賞を競うために、活動は必ずしもあなたのチームのプロジェクトに直接関連している必要はありません。あなたのアプローチ、どのようにインクルーシビティを改善したか、そして何を学んだかを文書化してください。</p>
<p>詳細については<a href="https://competition.igem.org/judging/special-prizes">特別賞ページ</a>をご覧ください。</p>
<h2>概要</h2>
<p>私たちは皆、オープンで歓迎的な科学コミュニティを構築することの重要性を認識すべきです。知識と技術の創造により多様なコミュニティが関与することで、より公平で代表的なシステムが生み出される可能性が高くなります。背景や経験に関係なく、すべての個人が科学的知識と技術開発に関与する平等な機会を持つべきです。誰もが研究の社会的含意について意見を共有できるべきです。</p>
<h2>インスピレーション</h2>
<ul>
<li><a href="https://2024.igem.wiki/patras-med/inclusivity">2024 Patras-Med</a></li>
<li><a href="https://2024.igem.wiki/fudan/inclusivity">2024 Fudan</a></li>
<li><a href="https://2023.igem.wiki/unimuenster/inclusivity">2023 UniMuenster</a></li>
<li><a href="https://2023.igem.wiki/ugm-indonesia/inclusivity">2023 UGM-Indonesia</a></li>
<li><a href="https://2023.igem.wiki/vilnius-lithuania/inclusivity">2023 Vilnius-Lithuania</a></li>
<li><a href="https://2023.igem.wiki/nis-kazakhstan/inclusivity">2023 NIS-Kazakhstan</a></li>
</ul>

{% endblock %}
