{% extends "layout.html" %}

{% block title %}測定{% endblock %}
{% block lead %}合成生物学には、パーツを特性化するための優れた測定アプローチと、多くのパーツを一度に特性化するための効率的な新しい方法が必要です。このページでは測定アプローチを説明してください。{% endblock %}

{% block page_content %}

<div class="row mt-4">
	<div class="col">
		<div class="bd-callout bd-callout-info">
			<h4>最優秀測定賞</h4>
			<p>測定は科学的コミュニケーションと進歩にとって重要です。適切に報告された測定は、ハードウェアが正しく機能しているか、データが信頼できるか、結果が実際に重要かを示す唯一の方法です。測定の適切なターゲットを特定し、正確な測定を収集し、明確で適切な単位で結果を報告することには高い価値があります。注意深い測定の取り組みを文書化すれば、この賞を受賞できるかもしれません！
			</p>
			<hr />
			<p>詳細については<a href="https://competition.igem.org/judging/special-prizes">特別賞ページ</a>をご覧ください。</p>
		</div>
	</div>
</div>

<div class="row mt-4">
	<div class="col-lg-8">
		<h2>概要</h2>
		<hr />
		<p>測定において優秀な作業を行った場合、この特別賞にチームを推薦することを検討してください。合成生物学には、パーツを特性化するための優れた測定アプローチと、多くのパーツを一度に特性化するための効率的な新しい方法が必要です。測定の分野で何かエキサイティングなことを行った場合は、ここで説明してください！
		</p>
	</div>
	<div class="col-lg-4">
		<h2>インスピレーション</h2>
		<hr />
		<ul>
			<li><a href="https://2024.igem.wiki/austin-utexas/measurement">2024 Austin-utexas</a></li>
			<li><a href="https://2024.igem.wiki/kuleuven/measurement">2024 KULeuven</a></li>
			<li><a href="https://2024.igem.wiki/freiburg/measurement">2024 Freiburg</a></li>
			<li><a href="https://2023.igem.wiki/william-and-mary/measurement">2023 William-and-Mary</a></li>
			<li><a href="https://2023.igem.wiki/estonia-tuit/measurement">2023 Estonia-TUIT</a></li>
			<li><a href="https://2023.igem.wiki/unilausanne/measurement">2023 UNILausanne</a></li>
		</ul>
	</div>
</div>

{% endblock %}
