{% extends "layout.html" %}

{% block title %}モデル{% endblock %}
{% block lead %}誰でも理解できるように、モデルの仮定、データ、パラメータ、結果を説明してください。{% endblock %}

{% block page_content %}

<div class="row mt-4">
	<div class="col">
		<div class="bd-callout bd-callout-info">
			<h4>最優秀モデル賞</h4>
			<p>モデルとコンピュータシミュレーションは、BioBrickパーツとデバイスの機能と動作を理解するのに役立ちます。シミュレーションとモデリングは、プロジェクトの設計に貢献したり、モデル化されたプロセスのより良い理解を提供したりできる重要なエンジニアリングスキルです。これらのプロセスは、現実世界のデータがモデルに含まれるときにさらに有用で情報に富んでいます。この賞は、システムのモデルを構築し、それを使用してシステム設計に情報を提供したり、ウェットラボでの実験の前または実験と併せて予想される動作をシミュレートしたりするチームのためのものです。
			</p>
			<hr />
			<p>詳細については<a href="https://competition.igem.org/judging/special-prizes">特別賞ページ</a>をご覧ください。</p>
		</div>
	</div>
</div>

<div class="row mt-4">
	<div class="col-lg-8">
		<h2>概要</h2>
		<hr />
		<p>数学的モデルとコンピュータシミュレーションは、パーツとデバイスの機能と動作を説明する素晴らしい方法を提供します。合成生物学はエンジニアリング分野であり、エンジニアリングの一部は、設計を構築する前にその動作を決定するためのシミュレーションとモデリングです。ラボに移る前に、コンピュータでデザインとシミュレーションを何度も繰り返すことができます。
		</p>
	</div>
	<div class="col-lg-4">
		<h2>インスピレーション</h2>
		<hr />
		<ul>
			<li><a href="https://2024.igem.wiki/utoronto/model">2024 UToronto</a></li>
			<li><a href="https://2024.igem.wiki/heidelberg/model">2024 Heidelberg</a></li>
			<li><a href="https://2024.igem.wiki/waseda-tokyo/model">2024 Waseda-Tokyo</a></li>
			<li><a href="https://2024.igem.wiki/bnuzh-china/model">2024 BNUZH-China</a></li>
			<li><a href="https://2024.igem.wiki/cjuh-jlu-china/model">2024 CJUH-JLU-China</a></li>
			<li><a href="https://2024.igem.wiki/tsinghua/model">2024 Tsinghua</a></li>
		</ul>
	</div>
</div>

{% endblock %}
