{% extends "layout.html" %}

{% block title %}植物{% endblock %}
{% block lead %}この賞は、植物合成生物学において行われた模範的な作業を称えるために設計されています。{% endblock %}

{% block page_content %}

<div class="row mt-4">
	<div class="col">
		<div class="bd-callout bd-callout-info">
			<h4>最優秀植物合成生物学賞</h4>
			<p>この賞は、植物合成生物学において行われた模範的な作業を称えるために設計されています。植物シャーシでプロジェクトを構築しましたか？植物パーツをレジストリに提出しましたか？この賞は、藻類や他の真核光合成シャーシで作業しているチームにも授与される可能性があります。何を作ったかを私たちに示し、iGEMの安全ガイドラインを守ることを忘れないでください！
			</p>
			<p><i>注：光合成細菌はこの賞の対象とはなりません。</i></p>
			<hr />
			<p>詳細については<a href="https://competition.igem.org/judging/special-prizes">特別賞ページ</a>をご覧ください。</p>
		</div>
	</div>
</div>

<div class="row mt-4">
	<div class="col">
		<h2>インスピレーション</h2>
		<hr />
		<ul>
			<li><a href="https://2024.igem.wiki/marburg/plant">2024 Marburg</a></li>
			<li><a href="https://2024.igem.wiki/scu-china/plant">2024 SCU-China</a></li>
			<li><a href="https://2023.igem.wiki/marburg/plant">2023 Marburg</a></li>
			<li><a href="https://2023.igem.wiki/zju-china/plant">2023 ZJU-China</a></li>
			<li><a href="https://2023.igem.wiki/tsinghua-tfl/plant">2023 Tsinghua-TFL</a></li>
		</ul>
	</div>
</div>

{% endblock %}
