{% extends "layout.html" %}

{% block title %}安全性とセキュリティ{% endblock %}
{% block lead %}プロジェクトの安全性とセキュリティの考慮事項を詳述し、潜在的なリスクに対処し、それらを軽減するために取られた対策の概要を示してください。{% endblock %}

{% block page_content %}

<div class="row mt-4">
	<div class="col">
		<div class="bd-callout bd-callout-info">
			<h4>安全性とセキュリティ賞</h4>
			<p>世界中の地域の人々が地域の問題を解決するために、合成生物学は安全かつ確実に使用される必要があります。安全性とセキュリティ委員会は、チームに合成生物学に関連するリスクを管理するための生物工学アプローチを適用することを挑戦しています。合成生物学の使用をより安全で確実にする知識、理解、ツールに向けた進歩の次のステップを取ることができますか？
			</p>
			<hr />
			<p>詳細については<a href="https://competition.igem.org/judging/special-prizes">特別賞ページ</a>をご覧ください。</p>
		</div>
	</div>
</div>

<div class="row mt-4">
	<div class="col-lg-8">
		<h2>このページに含むべき内容は？</h2>
		<hr />
		<p>プロジェクトに関連するすべての潜在的な安全性とセキュリティリスクを説明してください。以下を含む：</p>
		<ul>
			<li>生物学的リスク（例：病原性、毒性、環境への影響）。</li>
			<li>化学的リスク（例：有害物質の取り扱い）。</li>
			<li>物理的リスク（例：機器の安全性）。</li>
			<li>セキュリティリスク（例：技術の潜在的な悪用）。</li>
		</ul>
		<p>これらのリスクにどのように対処し、安全対策を実施しているかを説明してください。</p>
		<p>プロジェクト設計に組み込まれた安全機能を詳述してください。以下のような：</p>
		<ul>
			<li>非病原性シャーシの選択。</li>
			<li>人間、動物、植物への害を最小限に抑えるパーツの選択。</li>
			<li>実験におけるより安全な材料の置換。</li>
			<li>「キルスイッチ」機構やその他の安全制御の実装。</li>
		</ul>
		<p>これらの設計選択の背後にある根拠を説明してください。</p>
		<div class="bd-callout bd-callout-info">
			<p>プロジェクトが<a
					href="https://responsibility.igem.org/safety-policies">安全ポリシーページ</a>で概説されているすべての安全要件に準拠していることを確認してください。
			</p>
		</div>
	</div>

	<div class="col-lg-4">
		<h2>インスピレーション</h2>
		<hr />
		<ul>
			<li><a href="https://2024.igem.wiki/ucalgary/safety">2024 UCalgary</a></li>
			<li><a href="https://2023.igem.wiki/basis-china/safety">2023 BASIS-China</a></li>
			<li><a href="https://2023.igem.wiki/edinburgh/safety">2023 Edinburgh</a></li>
			<li><a href="https://2023.igem.wiki/epfl/safety">2023 EPFL</a></li>
			<li><a href="https://2023.igem.wiki/nmu-china/safety">2023 NMU-China</a></li>
		</ul>
	</div>
</div>

{% endblock %}
