{% extends "layout.html" %}

{% block title %}ソフトウェア{% endblock %}
{% block lead %}iGEMにおけるソフトウェアは、標準パーツに基づく合成生物学を、私たちのコミュニティにとってより簡単、迅速、優秀、またはアクセスしやすくするものであるべきです。{% endblock %}

{% block page_content %}

<div class="row mt-4">
	<div class="col">
		<div class="bd-callout bd-callout-info">
			<h4>最優秀ソフトウェアツール賞</h4>
			<p>トピックが何であれ、iGEMプロジェクトは多くの場合、全体的なプロジェクトを前進させるために計算ツールを作成または適応させます。直接的な実用的ニーズから生まれるため、これらのソフトウェアツール（または新しい計算方法）は、他の人にとって驚くほど有用であることが証明されることもあります。必ずしも大きくて複雑である必要はなく、プロジェクトの成功に決定的な違いをもたらすことができます。この賞は、そのような計算作業の「ナゲット」を見つけて称えようとするものです。応募資格を得るには、あなたのソフトウェアが文書化され、OSI承認のオープンソースライセンスの下で利用可能にされている必要があります。
			</p>
			<hr />
			<p>詳細については<a href="https://competition.igem.org/judging/special-prizes">特別賞ページ</a>をご覧ください。</p>
		</div>
	</div>
</div>

<div class="row mt-4">
	<div class="col-lg-8">
		<h2>このページに含むべき内容は？</h2>
		<hr />
		<p>このページは、リポジトリで利用可能な詳細な技術文書を補完し、幅広い読者にとってあなたのソフトウェアをアクセスしやすく理解しやすいものにすることを目的とするべきです。</p>
		<ul>
			<li>ソフトウェアの目的と機能の明確で簡潔な概要を提供する。</li>
			<li>幅広い読者にとってアクセスしやすくするために、専門用語以外の言語を使用する。</li>
			<li>ソフトウェアの使用方法についてステップバイステップの説明を作成する。</li>
			<li>ユーザーを案内するためのスクリーンショットと視覚的補助を含める。</li>
			<li>ソフトウェアを他のツールやプラットフォームと統合する方法を説明する。</li>
			<li>ソフトウェア開発中に行われた主要な設計選択を説明する。</li>
			<li>設計プロセス中に行われたトレードオフや妥協について議論する。</li>
			<li>ソフトウェアのアーキテクチャの高レベルな概要を提供する。</li>
			<li>ソフトウェアの展開とインストールに関する明確な指示を提供する。</li>
			<li>該当する場合、ソフトウェアのAPIの概要を提供する。</li>
		</ul>
	</div>
	<div class="col-lg-4">
		<h2>インスピレーション</h2>
		<hr />
		<ul>
			<li><a href="https://2024.igem.wiki/vilnius-lithuania/software">2024 Vilnius-Lithuania</a></li>
			<li><a href="https://2023.igem.wiki/fudan/software">2023 Fudan</a></li>
		</ul>
	</div>
</div>

{% endblock %}
