{% extends "layout.html" %}

{% block title %}Attributions{% endblock %}
{% block lead %}Accurate attribution is essential in the iGEM Competition. It ensures that the judges can properly
assess your team's contributions and recognize the support provided by external collaborators. This page is dedicated to
fulfilling the Attributions requirement for judging.{% endblock %}

{% block page_content %}

<h3>Bronze Medal Criterion #2</h3>
<p>Describe what work your team members did and what other people did for your project using the standardized Project Attributions Form.</p>
<p>Visit the <a href="https://competition.igem.org/judging/medals">Medals page</a> for more information.</p>
<h2>What Should this Page Contain?</h2>
<ul>
<li>The standard navigation menu of your wiki</li>
<li>The standard footer of your wiki</li>
<li>The embedded iframe containing your standardized team&#39;s Project Attribution form.</li>
<li>Nothing else</li>
</ul>
<h2>Tips for Success</h2>
<p>Teams must use the official Attributions form. This form clearly delineates the work conducted by your team members and the support received from others. Carefully review the instructions and requirements of this deliverable on the <a href="https://competition.igem.org/deliverables/project-attribution">Project Attribution page</a>. Please note:</p>
<ul>
<li>Teams must use the standard form. Do not create your own form.</li>
<li>The standard Attributions Form must be filled out completely, accurately and honestly.</li>
<li>For the best results, we recommend teams start filling out the Attributions Form early in the season and updating it often.</li>
</ul>

<div class="row mt-4">
	<script type="text/javascript">
		// フォームの高さ変更を受け取って iframe をリサイズする。
		window.addEventListener("message", function (e) {
			if (e.origin === "https://teams.igem.org") {
				const { type, data } = JSON.parse(e.data);
				if (type === "igem-attribution-form") {
					const element = document.getElementById("igem-attribution-form");
					element.style.height = `${data + 100}px`;
				}
			}
		});
	</script>
	<iframe style='width: 100%' id="igem-attribution-form" src="https://teams.igem.org/wiki/5539/attributions">
		>
	</iframe>
</div>

{% endblock %}
