# dependencies
/node_modules

# build
/dist/
/.vite/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.local.example

# vercel
.vercel

# typescript
*.tsbuildinfo
